<h1>目標投稿</h1>

<%= form_with model: @task do |f| %>
<p>締切<%= f.date_field :deadline %></p>
<p>目標<%= f.text_area :task %></p>
<p>補足<%= f.text_area :comment %></p>

<%= f.submit '目標を投稿する', class:"btn btn-primary" %>
<% end %>

